* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Loading screen */
h1{
  display: flex;
  text-align: center;
  height: 100vh;
  justify-content: center;
  transform: translateY(50%);
}

.title{
  display: flex;
  justify-content: center;
  font-size: 40px;
}

/* Cat cards */
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 420px;
  flex-wrap: wrap;
  border: solid black;
}

/* Main product title */
.card h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}

/* price */
.card h3 {
 margin-top: 10px;
 margin-bottom: 0px;
}

.catContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card img{
  height: 400px;
  width: 400px;
}

.card button{
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

/* Main cart container */
.cartContainer{
  display: flex;
  justify-content: center;
}

/* cart contents */
.cart {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: solid black;
  /* transform: translate(416%); */
}

.cart h2{
  margin-top: 0;
}
